<div class="container">
  <div class="row">
    <div class="col-md-12 bg-dark p-5 shadow-effect text-white ">
      <h2 class="text-center  "> {{formStatus}} Categorias </h2>
      <p class="text-center mb-5">
        Puedes {{formStatus}}  categorias aquí ..!
      </p>

      <form
        class="form-inline text-center"
        [formGroup]="form"
        (ngSubmit)="addCategory(form.value)"
      >

        <div class="col-md-10">
          <input
            type="text"
            formControlName="category"
            class="form-group   shadow-effect "
            placeholder="Agregar nueva categoria"
            [(ngModel)]="editCategory"
          >
          <ng-container
                *ngFor="
                  let validation of validationMessages
                    .category
                "
          >
                <div
                  class="form-text text-dark bg-theme "
                  *ngIf="
                    categoryField?.hasError(validation.type) &&
                    categoryFieldDirty
                  "
                >
                <h3>{{validation.message}}</h3>
                </div>
          </ng-container>
        </div>

        <div class="col-md-2">
          <button
            class="btn btn-block btn-warning btn-input-cat "
            [disabled]="form.invalid"
            type="submit"
          > {{formStatus}} Categoria </button>
        </div>

      </form>

    </div>
  </div>

  <div class="row my-5">

    <div class="col-lg-6 col-sm-12 mx-auto">

      <div class="card shadow-effect ">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Categoria</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index" >
                
                <td> {{i+1}} </td>
                <td> {{category.data.category.category}} </td>
                <td>  
                  <button 
                    class="btn bnt-sm btn-warning mr-2" 
                    (click)="onEdit(category.data.category.category, category.id)" 
                  >Edit</button>
                  <button 
                    class="btn bnt-sm btn-danger" 
                    (click)="onDelete(category.id)" 
                  >Elim</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

</div>
