<section class="mt-5">
  <div class="container my-5 p-5 bg-theme">

    <h1 class="text-dark text-center">About Us</h1>
    <div class="p-5 mt-4 bg-dark text-white">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat nam eos ducimus amet dignissimos, mollitia facere eaque eligendi quod? Nulla praesentium illum quia autem quos ullam, magni tenetur fugiat!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat nam eos ducimus amet dignissimos, mollitia facere eaque eligendi quod? Nulla praesentium illum quia autem quos ullam, magni tenetur fugiat!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat nam eos ducimus amet dignissimos, mollitia facere eaque eligendi quod? Nulla praesentium illum quia autem quos ullam, magni tenetur fugiat!</p>

      <div class=" text-center">
        <button class="btn btn-warning" routerLink="/" >Back to HOME</button>
      </div>
    </div>
  </div>
</section>
