footer {
  height: 130px;
  padding: 15px;
  background-color: var(--color-black);
/*   margin-top: 85vh; */
}

.site-logo {
  font-size: 1.2em;
  font-weight: 600;
}

p {
  color: var(--light-color);
}

