<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center bg-dark" routerLink="/categories" >
          <h1 ><i class="fa fa-clipboard-list text-white"></i> </h1>
          <h2 class="text-white" >Category </h2>
          <p class="text-white">
            Manage your category details here.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center bg-dark" routerLink="/posts" >
          <h1 > <i class="fa fa-file-image text-white "></i> </h1>
          <h2 class="text-white" >Posts </h2>
          <p class="text-white">
            Manage your post details here.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
