<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center bg-dark" routerLink="/categories" >
          <h1 ><i class="fa fa-clipboard-list text-white"></i> </h1>
          <h2 class="text-white" >Categorias </h2>
          <p class="text-white">
            Aquí puedes Administrar las categorias.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center bg-dark" routerLink="/posts" >
          <h1 > <i class="fa fa-file-image text-white "></i> </h1>
          <h2 class="text-white" >Posts </h2>
          <p class="text-white">
           Aquí puedes administrar los posts
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center bg-dark" routerLink="/subscribers" >
          <h1 > <i class="fa fa-users text-white "></i> </h1>
          <h2 class="text-white" >Subscriptores </h2>
          <p class="text-white">
           Aquí puedes administrar los subscriptores.
          </p>
        </div>
      </div>
    </div>


  </div>
</div>
